@font-face{font-family:"proxima-nova";font-weight:700;font-style:normal;font-display:block;src:url("../_live/assets/86acc656f111123f.woff2") format("woff2")}
@font-face{font-family:"proxima-nova";font-weight:400;font-style:normal;font-display:block;src:url("../_live/assets/c56eb1f1ddd9c35e.woff2") format("woff2")}
@font-face{font-family:"proxima-nova";font-weight:600;font-style:normal;font-display:block;src:url("../_live/assets/ad9b437954a9407b.woff2") format("woff2")}
