._064428cb { background-color: rgba(43, 45, 46, 0.65); inset: 0px; opacity: 0; pointer-events: none; position: fixed; transition: opacity 0.2s, visibility linear 0.2s; visibility: hidden; z-index: 5; }
._562049f3 { opacity: 1; pointer-events: auto; transition: opacity 0.2s, visibility; visibility: visible; }
._8e5e8ddf { appearance: none; background: none; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; color: inherit; cursor: pointer; margin: 0px; padding: 0px; }
._8e5e8ddf:active, ._8e5e8ddf:focus { outline: none; }
._8e5e8ddf:disabled { cursor: not-allowed; opacity: 0.4; pointer-events: none; }
._8e5e8ddf { align-items: center; background-color: rgb(35, 38, 42); border-radius: 0px 0.6rem 0.6rem 0px; display: flex; gap: 8px; height: 48px; justify-content: center; width: 110.66px; }
.a8c8a2b9 { fill: rgb(255, 255, 255); }
.d9402d8e { color: rgb(255, 255, 255); font-size: 17px; font-weight: 500; line-height: 25px; }
@media only screen and (max-width: 950px) {
  ._83412d9f { display: none; }
}
._0ff33126 { margin: 0px 2.4rem 0px 0.8rem; white-space: nowrap; }
._778bb2b9 > div:first-of-type > div:first-of-type { border-radius: 0.6rem 0px 0px 0.6rem; border-right: 0px; }
._778bb2b9 { flex: 1 1 0%; }
._8185b4e8 { background-color: rgb(255, 255, 255); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px, rgba(0, 0, 0, 0.24) 0px 6px 6px 0px; left: 0px; max-height: 400px; overflow-y: auto; position: absolute; right: 0px; z-index: 1; }
._91727253 { position: relative; }
.d6b0411e { appearance: none; background: none; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; color: inherit; cursor: pointer; margin: 0px; padding: 0px; }
.d6b0411e:active, .d6b0411e:focus { outline: none; }
.d6b0411e:disabled { cursor: not-allowed; opacity: 0.4; pointer-events: none; }
.d6b0411e { display: block; padding: 1.6rem; text-align: left; transition: background-color 0.15s; width: 100%; }
.d6b0411e:not(:last-child) { border-bottom: 0.1rem solid rgb(206, 214, 215); }
._3c8c6deb { align-items: center; display: flex; justify-content: space-between; position: relative; padding: 0.8rem 1.6rem !important; }
._3c8c6deb:not(:last-child) { border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; }
._3c8c6deb:not(:last-child)::after { background-color: rgb(224, 224, 224); bottom: 0px; content: ""; height: 0.1rem; left: 1%; position: absolute; right: 1%; }
.ae156e50, .d6b0411e:hover { background-color: rgb(240, 240, 240); }
.b4b1a434 { color: rgb(35, 38, 42); font-size: 1.4rem; }
.b4b1a434 em { font-style: normal; font-weight: 700; }
._42359332 { flex: 1 1 0%; font-size: 1.6rem; }
._96458a3d { flex-shrink: 0; height: 2rem; margin-left: 1.6rem; width: 2rem; }
html[dir="rtl"] ._96458a3d { transform: scaleX(-1); }
._9a541ed1 { background-color: rgb(255, 255, 255); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px, rgba(0, 0, 0, 0.24) 0px 6px 6px 0px; left: 0px; max-height: 45rem; overflow-y: auto; padding-top: 1.6rem; position: absolute; right: 0px; width: 100%; z-index: 1; }
._528a23da { max-height: 44.7rem; }
.cd775285 { min-width: 25rem; position: relative; z-index: 1; }
.a5248780 { background-color: rgb(255, 255, 255); border: 0.1rem solid rgb(218, 219, 219); border-radius: 0.6rem; height: 4.8rem; padding: 0.8rem 0px 0.8rem 1.6rem; }
._221edaf7 { cursor: pointer; gap: 0.5rem; padding: 1rem 1.6rem; }
.b046350e:hover { background-color: rgb(251, 224, 224); }
.fcf0e429 { color: rgb(35, 38, 42); }
._110872db:not(:last-child) { border-bottom: 0.1rem solid rgb(206, 214, 215); }
._68701eeb { cursor: pointer; padding: 0.8rem 1.6rem 1.6rem; transition: background-color 0.15s; }
@media (pointer: fine) {
  ._68701eeb:hover { background-color: rgb(240, 240, 240); }
}
._11b359cb { height: 1.5rem; margin-left: auto; transform: rotate(270deg); width: 1.5rem; }
._7c80eac3 { padding: 0px 1.6rem 0.8rem; }
._7ceb16f8 { height: 2.4rem; width: 2.4rem; }
._99000188 { transform: rotate(180deg); }
._0eaf1e33 { height: 1.4rem; transform: rotate(90deg); width: 1.4rem; }
._049ead53 { color: rgb(145, 147, 149); font-weight: 700; padding: 0.8rem 1.6rem 0px; }
.a5851ef1 { color: rgb(224, 0, 0); }
.c7d8cc91 { fill: rgb(224, 0, 0); }
._0170f844 { padding: 1.6rem 0px; width: calc(100% - 2.4rem); }
._13444077 { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._13444077 em { font-style: normal; font-weight: 700; }
._6ddb5244 { height: 2.4rem; margin-right: 0.8rem; min-width: 2.4rem; width: 2.4rem; }
._9dc69f29 { fill: rgb(35, 38, 42); }
._02737e34 { height: 2.4rem; margin: 0px 0.8rem 0px 0px; min-width: 2.4rem; width: 2.4rem; }
._6e0108f2 { max-width: 50%; }
._1a1d3c66 { border-right: 0.1rem solid rgb(70, 76, 85); cursor: pointer; height: 2.4rem; margin: auto 0px; padding-right: 0.8rem; width: 2.4rem; }
._1484dc7c { background: rgb(237, 238, 238); height: 1px; margin: 0px; width: 100%; }
.cd775285 { min-width: var(--location-width,25rem); }
.cd775285, .cd775285 * { outline: none; }
.a5248780 { border-color: var(--header-input-border-color,#919395); }
._7ceb16f8 { height: 1.6rem; margin-right: 1.6rem; width: 1.6rem; }
._6ddb5244 { height: 2rem; min-width: 2rem; width: 2rem; fill: rgb(224, 0, 0); margin-inline-end: 0.8rem; }
._8eba4936 { background-color: rgb(255, 255, 255); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px, rgba(0, 0, 0, 0.24) 0px 6px 6px 0px; left: 0px; max-height: 45rem; overflow-y: auto; padding-top: 1.6rem; position: absolute; right: 0px; width: 100%; z-index: 1; }
._6857f91d { max-height: 44.7rem; }
.bc2a500c { min-width: 25rem; position: relative; z-index: 1; }
._6cccacf2 { background-color: rgb(255, 255, 255); border: 0.1rem solid rgb(218, 219, 219); border-radius: 0.6rem; height: 4.8rem; padding: 0.8rem 0px 0.8rem 1.6rem; }
.f4371c3e { cursor: pointer; gap: 0.5rem; padding: 1rem 1.6rem; }
._52fd3da9:hover { background-color: rgb(251, 224, 224); }
._330b2c38 { color: rgb(35, 38, 42); }
.dea0374f:not(:last-child) { border-bottom: 0.1rem solid rgb(206, 214, 215); }
.b1b3af37 { cursor: pointer; padding: 0.8rem 1.6rem 1.6rem; transition: background-color 0.15s; }
@media (pointer: fine) {
  .b1b3af37:hover { background-color: rgb(240, 240, 240); }
}
._9f817de9 { height: 1.5rem; margin-left: auto; transform: rotate(270deg); width: 1.5rem; }
.bf77e210 { padding: 0px 1.6rem 0.8rem; }
.b6884c38 { height: 2.4rem; margin-right: 1.6rem; width: 2.4rem; }
._61ea6535 { transform: rotate(180deg); }
._02ad2dd2 { height: 1.4rem; transform: rotate(90deg); width: 1.4rem; }
.ac2f88aa { color: rgb(145, 147, 149); font-weight: 700; padding: 0.8rem 1.6rem 0px; }
.a452086d { color: rgb(224, 0, 0); }
.c4991225 { fill: rgb(224, 0, 0); }
.f0de3866 { padding: 1.6rem 0px; width: calc(100% - 2.4rem); }
.da0c488d { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.da0c488d em { font-style: normal; font-weight: 700; }
.f0a328fc { fill: rgb(224, 0, 0); height: 2.4rem; margin-right: 0.8rem; min-width: 2.4rem; width: 2.4rem; }
.d7d7640e { fill: rgb(35, 38, 42); }
.ad70f2fc { height: 2.4rem; margin: 0px 0.8rem 0px 0px; min-width: 2.4rem; width: 2.4rem; }
._9366847a { max-width: 50%; }
._8c41c705 { border-right: 0.1rem solid rgb(70, 76, 85); cursor: pointer; height: 2.4rem; margin: auto 0px; padding-right: 0.8rem; width: 2.4rem; }
.ea0c013c { background: rgb(237, 238, 238); height: 1px; margin: 0px; width: 100%; }
._277284db { display: flex; }
._252b93a5 { height: 2.6rem; width: 12.5rem; }
._49e1df23 { height: 2.6rem; width: 16.5rem; }
.c2c2e468 { appearance: none; background: none; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; color: inherit; cursor: pointer; margin: 0px; padding: 0px; }
.c2c2e468:active, .c2c2e468:focus { outline: none; }
.c2c2e468:disabled { cursor: not-allowed; opacity: 0.4; pointer-events: none; }
.c2c2e468 { border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; }
.c2c2e468 > span { font-size: 1.4rem; font-weight: 400; }
._2f97ab12 { --header-link-icon-fill: #e00000; --header-link-icon-fill-opacity: 1; align-items: center; display: inline-flex; justify-content: center; min-width: 13rem; padding-inline: var(--r); }
._1499a6c8 { --_f: 1.5; --top-r: 3rem; --highlight-bdrs: var(--top-r) var(--top-r) 0 0 /var(--r); padding-block: 4px; position: relative; }
._1499a6c8::after { background: rgb(255, 255, 255); border-inline: var(--r) solid transparent; inset-block: calc(var(--r)*-1/var(--_f)); inset-inline: calc(var(--r)*-1); mask: radial-gradient(var(--r) at var(--r) 0,transparent 100%,#000 100%) calc(var(--r)*-1) 100% /100% var(--r) repeat-x,conic-gradient(#000 0 0) padding-box; }
._1499a6c8::after, ._1499a6c8::before { border-radius: var(--highlight-bdrs); content: ""; position: absolute; z-index: -1; }
._1499a6c8::before { box-shadow: rgba(147, 1, 0, 0.05) -8px 0px 16px, rgba(34, 34, 34, 0.05) 8px 0px 16px; inset: calc(var(--r)*-1/var(--_f)) 0 0; }
._815ae0d5::after, ._815ae0d5::before { content: none; }
.f2f755a6 { --r: 1.6rem; translate: calc(var(--r)*-1) .35rem; z-index: 1; }
.a933417f { margin-left: 1.6rem; fill: rgb(35, 38, 42); }
._0f61da95 { cursor: pointer; height: 2.4rem; margin-right: 1.6rem; transition: transform 0.2s; width: 2.4rem; fill: rgb(0, 0, 0); }
._0f61da95._59bebb83 { transform: rotate(180deg); }
._658545cc { border-right: 0.1rem solid rgb(70, 76, 85); cursor: pointer; height: 2.6rem; margin: auto 0px; padding-right: 0.8rem; width: 2.6rem; }
@media (pointer: coarse) {
  ._0f61da95 { display: none; }
}
._63995dc5 { height: 2rem; margin: auto 0.8rem auto 1rem; width: 2rem; }
._8033f60b { fill: rgb(0, 0, 0); }
.c2e8792b { background-color: rgb(255, 255, 255); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px 0px, rgba(0, 0, 0, 0.24) 0px 6px 6px 0px; left: 0px; max-height: 320px; overflow-y: auto; position: absolute; right: 0px; width: 100%; z-index: 1; }
.fb4b1f84 { position: relative; }
._44faf998 { cursor: pointer; pointer-events: auto; }
._44faf998 input { pointer-events: none; }
._0397eac4 { background-color: rgb(255, 255, 255); border-radius: 16px 16px 0px 0px; display: flex; flex-direction: column; max-height: 70vh; overflow: hidden; }
._6afb985d { border-bottom: 1px solid rgb(232, 236, 236); padding: 16px; }
._71010fcf { flex: 1 1 0%; max-height: 50vh; overflow-y: auto; }
.ead46d0c { align-items: center; color: rgb(70, 76, 85); display: flex; justify-content: center; text-decoration: none; }
.ce219118 ._57a1b7d2 { color: rgb(35, 38, 42); font-weight: 600; }
._9e943943 { align-items: center; display: flex; flex-direction: column; gap: 0.1rem; justify-content: center; }
.c73707be { height: 2rem; opacity: 0.6; width: 2rem; }
.ce219118 .c73707be { opacity: 1; }
._57a1b7d2 { font-size: 1.4rem; height: 1.8rem; line-height: 1.8rem; opacity: 1; text-align: center; }
.a4a32795 { width: 100%; }
._97447fcb { background-color: rgb(251, 224, 224); border: 1px solid rgb(246, 179, 179); border-radius: 0.6rem; display: flex; margin-block-end: 0.4rem; margin-inline: 1.6rem; padding-block: 0.8rem; }
.a09726e3 { margin-inline: 0.8rem 0.4rem; }
._41e57ca5 { width: 100%; }
._0983281d, ._9575bbae { font-weight: 700; }
._0983281d { background-clip: text; -webkit-text-fill-color: transparent; }
.bbc946c1 { background: linear-gradient(90deg, rgb(35, 38, 42), rgb(224, 0, 0)) text; }
._2d30734e { background: linear-gradient(90deg, rgb(35, 38, 42), rgb(224, 0, 0) 50%) text; }
html[dir][lang="ar"] ._2d30734e { background: linear-gradient(90deg, rgb(224, 0, 0) 60%, rgb(35, 38, 42)) text; }
._9595b1f9 { color: rgb(70, 76, 85); display: block; font-size: 1.204rem; line-height: 1.4rem; }
._196c50f1 { background-color: rgb(251, 224, 224); border: 1px solid rgb(246, 179, 179); border-radius: 0.6rem; display: flex; margin-block-end: 0.4rem; margin-inline: 1.6rem; padding-block: 0.8rem; }
._5491f4fb { margin-inline: 0.8rem 0.4rem; }
._4f187f77 { height: 2.4rem; width: 2.4rem; }
._8dc925a3 { background-color: rgb(231, 241, 253); border: 1px solid rgb(196, 219, 250); border-radius: 0.6rem; display: flex; margin-block-end: 0.4rem; margin-inline: 1.6rem; padding-block: 0.8rem; }
@media (max-width: 768px) {
  ._8dc925a3 { margin-block-end: 0px; }
}
._67824665 { margin-inline: 0.8rem 0.4rem; }
._9f755cf2 { font-size: 1.6rem; font-weight: 700; line-height: 1.25; margin-bottom: 0.4rem; }
.b4ae3192 { font-size: 1.2rem; font-weight: 400; line-height: 1.33; }
._1946bbeb { align-items: center; color: rgb(58, 136, 239); display: flex; gap: 0.2rem; }
._1946bbeb:hover { text-decoration: underline; }
[dir="rtl"] .d80a50c9 { scale: -1; }
.bcef3beb { background-color: rgb(231, 241, 253); border-radius: 0.6rem; color: inherit; display: flex; padding-block: 1rem; text-decoration: none; }
._55948db1 { flex: 1 1 0%; }
._12e7b75a { margin-inline: 1.2rem 0.8rem; }
._3893a320 { row-gap: 0.8rem; }
._3631ca1a { height: 5.6rem; width: 5.6rem; }
._3a3e5fe2 { position: relative; }
._95c3debe { align-items: center; background: rgb(45, 45, 45); border-radius: 50%; bottom: 0px; box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1rem 0.3rem; display: flex; height: 2.2rem; justify-content: center; position: absolute; right: 0px; width: 2.2rem; z-index: 1; }
._44238841 { height: 1.2rem; width: 1.2rem; fill: rgb(255, 255, 255); color: rgb(255, 255, 255); }
.cab410b8 { gap: 0.2rem; margin-left: 1.6rem; }
.bde61ecb { row-gap: 0.2rem; }
._774a29a3 { line-height: 2.2rem; }
._8791912f { font-size: 1.8rem; }
._4350d290 { margin-top: 0.8rem; }
._0e3a93ea { line-height: 2rem; }
._0e3a93ea, ._774a29a3 { text-wrap: balance; }
._6bc706f6 { background: linear-gradient(270deg, rgb(224, 0, 0), rgb(23, 25, 28)); border-radius: 0.4rem; color: rgb(255, 255, 255); height: 1.3rem; line-height: 1.2rem; position: absolute; right: 0px; top: 0.6rem; transform: translate(25%); width: 2.3rem; }
._013d22dc { align-items: center; display: inline-flex; flex-wrap: wrap; font-size: inherit; gap: 0.4rem; line-height: 1.5; }
._46941041 { padding: 1.6rem; }
html[dir="rtl"] ._6bc706f6 { line-height: 1.3rem; }
.a95f2093 { display: block; }
._29ad9c82 { padding: 0.8rem 0px; }
.a6997701 { --list-entry-border-color: #f0f0f0; --list-entry-icon-margin-inline: 2rem 0.6rem; position: relative; z-index: 100; }
.a13c7696 { cursor: pointer; }
.de4f13bc { height: 4rem; margin-right: 0.8rem; width: 4rem; }
._5f8d3343 { font-size: 1.5rem; font-weight: 700; line-height: 1.8rem; }
._310315d6 { height: 1.6rem; margin: 0px 0px 0px 0.8rem; transition: 0.2s; width: 1.6rem; }
._310315d6._07398f5c { transform: rotate(180deg); }
.ad7a3e71 { background-color: rgb(240, 240, 240); border-radius: 1.2rem; box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4rem 1rem 0px; display: flex; flex-direction: column; gap: 0.4rem; max-height: 80vh; overflow-y: auto; position: absolute; right: 0px; top: calc(100% + 0.8rem); width: 34rem; z-index: 2; }
.ad7a3e71 > * { background-color: rgb(255, 255, 255); }
._4963eb86 { background: linear-gradient(270deg, rgb(224, 0, 0), rgb(23, 25, 28)); border-radius: 0.4rem; color: rgb(255, 255, 255); height: 1.3rem; line-height: 1.2rem; position: absolute; right: 0px; transform: translateX(50%); width: 2.3rem; }
html[dir="rtl"] ._4963eb86 { line-height: 1.3rem; }
.d90f2ece { align-items: center; color: rgb(70, 76, 85); display: flex; justify-content: center; text-decoration: none; }
.ea0128af .da37a5d4 { color: rgb(35, 38, 42); font-weight: 600; }
.fe9112ef { flex-direction: column; gap: 0.1rem; }
.a6560c3a, .fe9112ef { align-items: center; display: flex; justify-content: center; }
.a6560c3a { position: relative; }
._8a50b7ae, .a6560c3a { height: 2rem; width: 2rem; }
._8a50b7ae { opacity: 0.6; }
.ea0128af ._8a50b7ae { opacity: 1; }
.da37a5d4 { color: inherit; display: block; font-size: 1.4rem; height: auto; line-height: 1.8rem; opacity: 1; text-align: center; white-space: nowrap; }
._238add85 { position: relative; }
._238add85::after { background: rgb(224, 0, 0); border-radius: 50%; content: ""; height: 0.8rem; inset-inline-end: 0px; position: absolute; top: 0px; width: 0.8rem; z-index: 1; }
._4b15fd4e { cursor: pointer; flex-direction: column; gap: 0.1rem; margin-right: 0px; }
._4b15fd4e, ._52ee6553 { align-items: center; display: flex; justify-content: center; }
._52ee6553 { height: 2rem; opacity: 1; width: 2rem; }
._46ad6779 { font-size: 1.4rem; height: 1.8rem; line-height: 1.8rem; opacity: 1; text-align: center; color: rgb(70, 76, 85) !important; }
._82774eae { position: relative; z-index: 1000; }
.e2611b66 { z-index: 1000 !important; }
.f9cbad0a { display: flex; justify-content: space-between; padding-block: 1.25rem; }
.e23bdc72 { --container-width: 100%; }
._2537d21c { min-width: 30.3rem; width: 30.3rem; }
._2537d21c.ac7ccc56 { outline: none; }
._2537d21c:focus-visible { outline: none; }
._0058737f { --template: 28.5rem 1fr; }
.ffbb8a08 { margin-inline-start: 3.2rem; }
html[dir][lang="ar"] .f64f1822 { stroke-width: 1.5; }
._3af4aa87 { background-color: rgb(246, 246, 246); }
.d8d8c8ce { flex-shrink: 0; z-index: 1; }
._181f9fc3 { padding-inline-start: 2.4rem; }
.d46f01f4 { margin-inline: auto; transition: width 0.25s ease-in; width: min(100% - var(--container-margin,2 * 2.4rem),var(--container-width,1280px)); --template: 30.3rem 1fr; --gap: 1.6rem; padding-bottom: 12px; padding-top: 1.6rem; }
._8442a777 { --input-border-color: #919395; }
._4beef323 { align-items: center; color: rgb(35, 38, 42); display: flex; font-size: 1.4rem; height: 100%; width: 100%; }
._4beef323:hover { color: rgb(58, 136, 239); }
._9f3de5a6 { display: inline-block; line-height: 1.8rem; margin: 0px 1.2rem; }
._29123282 { display: inline-block; margin-bottom: 1.6rem; padding: 0px 0.8rem; width: 100%; }
._400f82a4, ._64aaa26e { width: 100%; }
._400f82a4 { font-weight: 700; margin: 1.2rem 0px; }
._64aaa26e { line-height: 1.15; margin: 0.8rem 0px; }
._19d47bcd { margin-right: 1.2rem; }
._5c85c0ba { background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px; column-count: 4; left: 0px; max-width: 1280px; min-width: 750px; padding: 1.6rem; position: absolute; right: 0px; top: calc(100% + 0.8rem); z-index: 10; }
._93f64ffe { align-items: center; color: rgb(35, 38, 42); cursor: pointer; display: flex; font-size: 1.4rem; font-weight: 700; line-height: 1.8rem; text-transform: none; }
._7af8fdb1 { height: 2.4rem; margin-left: 0.8rem; transition: 0.2s; width: 2.4rem; }
._7af8fdb1.a8e97c7e { transform: rotate(180deg); }
._5aa87f24 { --cat-dropdown-main-col-width: var(--root-cat-dropdown-width,28rem); --cat-dropdown-submenu-col-width: 31rem; display: grid; grid-template-columns: var(
        --root-cat-cols,var(--cat-dropdown-main-col-width) minmax(0,var(--cat-dropdown-submenu-col-width,31rem))
    ); height: 40.4rem; max-width: calc(-4.8rem + 100vw); position: absolute; top: 100%; width: max-content; z-index: 3; }
._5aa87f24[\:has\(\.morecategoriesdropdown\)] { width: min(calc(var(--cat-dropdown-main-col-width) + var(--cat-dropdown-submenu-col-width)),calc(100vw - 4.8rem)); }
._5aa87f24:has(.adc15925) { width: min(calc(var(--cat-dropdown-main-col-width) + var(--cat-dropdown-submenu-col-width)),calc(100vw - 4.8rem)); }
@media (min-width: 1200px) {
  ._5aa87f24 { --cat-dropdown-main-col-width: 30.2rem; --cat-dropdown-submenu-col-width: 43rem; }
}
.d598f1a4 { --root-cat-cols: minmax(0,var(--cat-dropdown-main-col-width,28rem)); --main-col-radius-end-start: 0.6rem; --main-col-radius-end-end: 0.6rem; }
.a77c56a1 { background-color: rgb(255, 255, 255); }
._6d1af4a2 { inset-inline-start: 0px; }
._6d1af4a2[data-more-categories] { inset-inline: auto 0px; }
._6d1af4a2:not(.d598f1a4):not([data-more-categories]) { direction: rtl; --submenu-offset: 0; --main-col-radius-end-start: 0.6rem; --main-col-radius-end-end: 0.6rem; --main-col-open-radius-end-start: 0; --main-col-open-radius-end-end: 0.6rem; --submenu-radius-end-start: 0.6rem; --submenu-radius-end-end: 0; --submenu-border-inline-start: 0; --submenu-border-inline-end: 0.1rem solid #e0e0e0; }
._6d1af4a2:not(.d598f1a4):not([data-more-categories]) > * { direction: ltr; }
html[dir="rtl"] ._6d1af4a2:not(.d598f1a4):not([data-more-categories]) > * { direction: rtl; }
.bf4078ac { display: block; }
._27d60fea { position: relative; }
._0bfe3a09 { align-items: center; color: rgb(35, 38, 42); cursor: pointer; display: inline-flex; font-size: 1.6rem; font-weight: 600; padding-block: 1.2rem; padding-inline: 1.2rem; }
._3a1f03bd { width: 1.4rem; fill: rgb(35, 38, 42); margin-right: 0.5rem; }
.bf4078ac:hover ._0bfe3a09 { box-shadow: rgb(34, 34, 34) 0px -0.4rem 0px 0px inset; color: rgb(35, 38, 42); }
.bf4078ac:hover .e6e03361 { color: currentcolor; }
.bf4078ac:hover ._3a1f03bd { fill: currentcolor; }
._4193cf13 { display: inline-block; position: relative; }
.e5d28c4f { display: flex; justify-content: space-between; }
._4149d2d4 { cursor: pointer; line-height: 1.15; padding: 0.8rem 1.2rem 0.8rem 2rem; width: 100%; }
._4149d2d4._56b7febc, ._4149d2d4:hover { background-color: rgb(240, 240, 240); color: rgb(15, 93, 196); font-weight: 700; }
._040baef7 { white-space: nowrap; }
._25037bb3 { cursor: pointer; display: flex; justify-content: space-between; line-height: 1.2; }
._25037bb3._01e27f6f, ._25037bb3:hover { background-color: rgb(240, 240, 240); }
.c70d3684 { min-width: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
.c70d3684:not(._86f7c411 .c70d3684) { padding: 0.8rem 1.2rem 0.8rem 2rem; }
.c70d3684 > :first-child { min-width: 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.c70d3684._01e27f6f, .c70d3684:hover { --cat-link-arrow-color: #23262a; }
.c70d3684._01e27f6f:not(._86f7c411 .c70d3684._01e27f6f), .c70d3684:hover:not(._86f7c411 .c70d3684:hover) { font-weight: 700; }
.c70d3684._01e27f6f, .c70d3684:hover { color: rgb(15, 93, 196); }
._098802cc { cursor: pointer; pointer-events: none; }
._098802cc:hover { color: rgb(15, 93, 196); }
._2716987f { background-color: rgb(246, 246, 246); border-end-end-radius: var(--submenu-radius-end-end,.6rem); border-end-start-radius: var(--submenu-radius-end-start,0); border-inline-end: var(--submenu-border-inline-end,0); border-inline-start: var(
        --submenu-border-inline-start,.1rem solid #e0e0e0
    ); height: 40.4rem; width: var(--cat-dropdown-submenu-col-width,31rem); }
@media (min-width: 1200px) {
  ._2716987f { --cat-dropdown-submenu-col-width: 43rem; }
}
.c61224e3 { gap: 0.6rem; height: 100%; padding: 1.6rem; width: 100%; }
._19208068 { border-bottom: 0.1rem solid rgb(224, 224, 224); gap: 1.6rem; margin-block-end: 1.2rem; padding-block-end: 1.2rem; }
._00992423 { font-size: 1.8rem; }
.c072e951 { color: rgb(224, 0, 0); cursor: pointer; flex: 0 0 auto; }
.fef1853f { line-height: 1.53; padding: 0px 1.2rem; }
.b7b0aa25 { display: flex; flex-direction: column; }
.b2b9a715 { white-space: nowrap; }
._63c35b6f { align-items: center; cursor: pointer; display: flex; }
._58ddd88c { height: 1rem; width: 1rem; fill: var(--cat-link-arrow-color,currentColor); }
._8d795d47 { margin: 2rem; }
.d94c0325 { margin-left: 2rem; }
html[dir="rtl"] ._58ddd88c { transform: rotate(180deg); }
.df43145b { display: none; }
._91dee906 { inset-inline-start: var(
        --submenu-offset,var(--cat-dropdown-main-col-width,28rem)
    ); position: absolute; top: 0px; z-index: 2; }
._86f7c411 { display: grid; grid-template-columns: repeat(2, minmax(0px, 1fr)); padding-top: 0.6rem; gap: 1.6rem; }
._86f7c411 .c70d3684 { display: block; min-width: 0px; }
._8284ab3b, .c6be7c26 { gap: 0.8rem; }
.a92623e5 { display: inline-block; font-size: 1.4rem; line-height: 2.4rem; min-width: 12.8rem; }
.a92623e5:hover { color: rgb(15, 93, 196); }
._2fb1ed67 { cursor: pointer; display: flex; justify-content: space-between; line-height: 1.15; padding: 0.8rem 1.2rem 0.8rem 2rem; }
._2fb1ed67.ec933e20, ._2fb1ed67:hover { background-color: rgb(240, 240, 240); }
._89beabda { width: 100%; }
._89beabda.ec933e20, ._89beabda:hover { color: rgb(15, 93, 196); font-weight: 700; }
._1874801d { background-color: rgb(246, 246, 246); border-end-end-radius: var(--submenu-radius-end-end,.6rem); border-end-start-radius: var(--submenu-radius-end-start,0); border-inline-end: var(--submenu-border-inline-end,0); border-inline-start: var(
        --submenu-border-inline-start,.1rem solid #e0e0e0
    ); height: 40.4rem; left: calc(var(--cat-dropdown-submenu-col-width, 31rem)*-1); position: absolute; width: var(--cat-dropdown-submenu-col-width,31rem); }
._11f1b365 { gap: 0.6rem; padding: 1.6rem; width: 100%; }
.a2340877 { border-bottom: 0.1rem solid rgb(224, 224, 224); padding-block-end: 1.2rem; }
.ec76feba { font-size: 1.8rem; }
._92aac0c3 { white-space: nowrap; }
._6afbec33 { height: 1rem; width: 1rem; fill: rgb(35, 38, 42); }
._456ffbb9 { margin-left: 2rem; }
html[dir="rtl"] ._6afbec33 { transform: rotate(180deg); }
.f46bc5ec { color: rgb(224, 0, 0); cursor: pointer; gap: 0.8rem; }
._3978cfa3 { align-self: end; }
.b9553844 { height: 1.6rem; width: 1.6rem; fill: rgb(224, 0, 0); }
html[dir="rtl"] .b9553844 { transform: rotateY(180deg); }
._0e949e02 { display: none; }
._1045a469 { inset-inline-start: var(
        --submenu-offset,var(--cat-dropdown-main-col-width,28rem)
    ); position: absolute; top: 0px; }
.eda5b1a4 { display: grid; grid-template-columns: repeat(2, minmax(0px, 1fr)); padding-top: 0.6rem; gap: 1.6rem; }
._0dd7f229 { background-color: rgb(255, 255, 255); border-end-end-radius: var(
        --main-col-radius-end-end,.6rem
    ); border-end-start-radius: var(
        --main-col-radius-end-start,.6rem
    ); height: 100%; max-height: 100%; overflow-y: auto; padding-block: 1.2rem; width: auto; }
.ba9da3f1 { background-color: rgb(246, 246, 246); border-end-end-radius: var(--submenu-radius-end-end,.6rem); border-end-start-radius: var(--submenu-radius-end-start,0); border-inline-end: var(--submenu-border-inline-end,0); border-inline-start: var(
        --submenu-border-inline-start,.1rem solid #e0e0e0
    ); height: 40.4rem; width: var(--cat-dropdown-submenu-col-width,31rem); }
.c7d1c52f { border-end-end-radius: var(
        --main-col-radius-end-end,.6rem
    ); border-end-start-radius: var(
        --main-col-radius-end-start,.6rem
    ); }
.a0973ade { border-end-end-radius: var(--main-col-open-radius-end-end,0); border-end-start-radius: var(
        --main-col-open-radius-end-start,var(--main-col-radius-end-start,.6rem)
    ); }
.a69e5d8f { background-color: rgb(246, 246, 246); border-bottom: 0.1rem solid rgb(224, 224, 224); gap: 1.6rem; margin-block: -1.2rem 1.2rem; margin-inline: 1.2rem; padding-block: 1.2rem; padding-inline: 0.4rem; position: sticky; top: -1.2rem; }
.a1a97755 { font-size: 1.8rem; }
._26646485 { color: rgb(224, 0, 0); cursor: pointer; flex: 0 0 auto; }
.f51d9997 { color: rgb(35, 38, 42); cursor: pointer; font-size: 1.4rem; font-weight: 700; }
._08774b68 .f51d9997 { color: rgb(15, 93, 196); }
._0665c911 { color: rgb(70, 76, 85); font-size: 1.3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }
._64eb5cc0 { cursor: pointer; padding: 0.8rem 1.2rem 0.8rem 2rem; }
._08774b68 { background-color: rgb(240, 240, 240); }
.d2c2003c { height: 1rem; width: 1rem; fill: var(--cat-link-arrow-color,currentColor); flex-shrink: 0; }
html[dir="rtl"] .d2c2003c { transform: rotate(180deg); }
._78a7e0d5 { overflow: hidden; width: 100%; }
.e783567c { background-color: rgb(246, 246, 246); border-end-end-radius: 0px; border-end-start-radius: 0.6rem; display: grid; grid-template-columns: var(--cat-dropdown-main-col-width,28rem) repeat(2,minmax(0,var(--cat-dropdown-submenu-col-width,31rem))); height: 40.4rem; max-height: 40.4rem; width: inherit; }
@media (min-width: 1200px) {
  .e783567c { --cat-dropdown-main-col-width: 30.2rem; --cat-dropdown-submenu-col-width: 43rem; }
}
._52205e88 { background-color: rgb(255, 255, 255); height: 100%; max-height: 40.4rem; min-height: 0px; overflow: hidden auto; }
.b386b343 { background-color: rgb(246, 246, 246); border-end-end-radius: 0.6rem; border-inline: 0.1rem solid rgb(224, 224, 224); min-height: 0px; position: relative; }
._4c1723e7 { --submenu-offset: calc(var(--cat-dropdown-submenu-col-width, 31rem) - 0.2rem); background-color: transparent; border-end-end-radius: 0px; max-height: 40.4rem; overflow-y: auto; }
.bd1ad273 { display: none; }
._669481a2 { --cat-dropdown-main-col-width: 28rem; --cat-dropdown-submenu-col-width: 31rem; --cat-dropdown-width: calc(var(--cat-dropdown-main-col-width) + var(--cat-dropdown-submenu-col-width)*2); border-end-end-radius: 0.6rem; border-end-start-radius: 0.6rem; display: block; height: 40.4rem; max-width: calc(-4.8rem + 100vw); overflow: hidden; width: min(var(--cat-dropdown-width),calc(100vw - 4.8rem)); }
@media (min-width: 1200px) {
  ._669481a2 { --cat-dropdown-main-col-width: 30.2rem; --cat-dropdown-submenu-col-width: 43rem; }
}
._6044d123 { background-color: rgb(255, 255, 255); border-bottom: 0.1rem solid rgb(224, 224, 224); border-top-width: medium; border-top-style: none; border-top-color: currentcolor; position: relative; z-index: 3; }
._8fea0150 { align-items: center; display: flex; position: relative; }
._1dd5a86c { background-color: rgba(0, 0, 0, 0.6); inset: 0px; opacity: 0; pointer-events: none; position: fixed; transition: opacity 0.2s; z-index: 2; }
._6044d123[\:has\(\[data-dropdown-open\]\)] ~ ._1dd5a86c { opacity: 1; pointer-events: auto; }
._6044d123:has([data-dropdown-open]) ~ ._1dd5a86c { opacity: 1; pointer-events: auto; }
.c0a9a713 { display: flex; flex-grow: 1; margin-inline: auto; margin-top: 1.6rem; position: relative; transition: width 0.25s ease-in; width: min(100% - var(--container-margin,2 * 2.4rem),var(--container-width,1280px)); }
._4bc425b9 { flex: 1 1 0%; position: relative; width: 100%; }
._6a9aea2e { height: 100%; overflow: auto; position: absolute; width: 100%; }
.e8f7216a { background-color: rgb(255, 255, 255); border-bottom: 0.1rem solid rgba(0, 47, 52, 0.2); flex-shrink: 0; height: 6.4rem; width: 100%; }
.ea8ba351 { cursor: pointer; height: 100%; width: 4rem; }
._022ab855 { height: 2rem; width: 2rem; fill: rgb(8, 46, 51); }
html[dir="rtl"] ._022ab855 { transform: rotate(180deg); }
.bb99b67f { flex-shrink: 0; height: 4rem; margin-right: 0.8rem; position: relative; width: 4rem; }
.c956c660 { align-items: center; height: 100%; padding: 0px 0.8rem; }
._115c7c48 { margin: 0.2rem 0.4rem; }
._115c7c48, .b5517a0b { color: rgb(0, 0, 0); cursor: pointer; height: 100%; width: 2.5rem; }
.b5517a0b { margin: 0.6rem 0.4rem 0.2rem; }
.d0a2d1d2 { height: 6.4rem; }
.d833b9d2 { cursor: pointer; height: 100%; width: 4rem; }
.e23591de { height: 2rem; width: 2rem; fill: rgb(8, 46, 51); }
html[dir="rtl"] .e23591de { transform: rotate(180deg); }
._8db46e8d { flex-shrink: 0; height: 4rem; margin-right: 0.8rem; position: relative; width: 4rem; }
._65274113 { align-items: center; height: 100%; padding: 0px 0.8rem; }
._03e57cd3 { margin: 0.2rem 0.4rem; }
._03e57cd3, ._1bc96e0f { color: rgb(0, 0, 0); cursor: pointer; height: 100%; width: 2.5rem; }
._1bc96e0f { margin: 0.6rem 0.4rem 0.2rem; }
.d0a2d1d2 { background-color: rgb(255, 255, 255); border-bottom: 0.1rem solid rgba(0, 47, 52, 0.2); flex-shrink: 0; height: 7.3rem; padding: 0px 2.4rem; width: 100%; }
@media (max-width: 1280px) {
  .d0a2d1d2 { padding: 0px 1.6rem; }
}
._96417ec4 { margin-left: 1.6rem; }
._32f2457d { border-radius: 4px; flex-shrink: 0; height: 4rem; margin-right: 1.6rem; width: 4rem; }
@media (max-width: 1280px) {
  ._32f2457d { margin-right: 1.2rem; }
}
._1b507167 { height: 13.7rem; }
.dab7f056 { background-color: rgb(255, 255, 255); }
._8adea9b7 { overflow-x: auto; }
._8adea9b7, .d78390b4 { height: 100%; }
html[dir="rtl"] .d78390b4 { direction: rtl; }
.b70489eb { background-color: rgb(255, 255, 255); position: sticky; top: 0px; z-index: 1; }
._17ba5d16 { border-bottom: 0.2rem solid rgba(0, 47, 52, 0.2); flex: 1 1 0%; padding: 1rem 0px; }
._17ba5d16.c6de71a6 { border-color: rgb(224, 0, 0); }
._10a9e749 { height: 100%; }
._449f81df { align-items: center; background-color: rgb(240, 240, 240); color: rgb(35, 38, 42); column-gap: 1.6rem; display: flex; font-size: 2rem; font-weight: 700; height: 5.6rem; line-height: 1; padding: 2.4rem 1.6rem; }
._67ff40d6 { font-size: 2rem; font-weight: 400; line-height: 3rem; }
.ad240383 { border-width: medium; border-style: none; border-color: currentcolor; border-image: none; color: rgb(58, 136, 239); font-size: 1.6rem; font-weight: 700; height: 10rem; text-align: center; }
.cfd286fa { position: relative; }