<nav class="bottom-nav bottom-nav--fixed" aria-label="Primary">
  <a class="bottom-nav__item{{homeActive}}" href="#"><span class="m-icon" style="--i:url(../../icons/mobile/nav-home.svg)"></span>Home</a>
  <a class="bottom-nav__item{{chatActive}}" href="#"><span class="m-icon" style="--i:url(../../icons/mobile/nav-chat.svg)"></span>Chat</a>
  <button class="bottom-nav__sell" type="button"><img src="../../icons/mobile/nav-sell.svg" alt="">Sell</button>
  <a class="bottom-nav__item{{adsActive}}" href="#"><span class="m-icon" style="--i:url(../../icons/mobile/nav-my-ads.svg)"></span>My Ads</a>
  <a class="bottom-nav__item{{searchActive}}" href="#"><span class="m-icon" style="--i:url(../../icons/mobile/nav-account.svg)"></span>Account</a>
</nav>
