<nav class="bottom-nav" aria-label="Primary">
  <a class="bottom-nav__item{{homeActive}}" href="#"><img src="../../icons/navigation/home.svg" alt=""> Home</a>
  <a class="bottom-nav__item{{searchActive}}" href="#"><img src="../../icons/action/search.svg" alt=""> Search</a>
  <a class="bottom-nav__item" href="#">
    <span class="bottom-nav__sell"><img src="../../icons/action/plus-sell.svg" alt=""></span>
    Sell
  </a>
  <a class="bottom-nav__item{{chatActive}}" href="#"><img src="../../icons/action/chat.svg" alt=""> Chat</a>
  <a class="bottom-nav__item{{adsActive}}" href="#"><img src="../../icons/misc/listings.svg" alt=""> My Ads</a>
</nav>
