<footer class="footer">
  <div class="footer__main">
    <div class="container footer__cols">
      <section class="footer__col">
        <span class="footer__heading">About Us</span>
        <div class="footer__links">
          <a href="#">About Dubizzle Group</a>
          <a href="#">Careers</a>
          <a href="#">Contact Us</a>
          <a href="#">Dubizzle for Businesses</a>
        </div>
      </section>
      <section class="footer__col">
        <span class="footer__heading">Dubizzle</span>
        <div class="footer__links">
          <a href="#">Blog</a>
          <a href="#">Help</a>
          <a href="#">Sitemap</a>
          <a href="#">Terms of use</a>
          <a href="#">Privacy Policy</a>
        </div>
      </section>
      <section class="footer__col">
        <span class="footer__heading">Countries</span>
        <div class="footer__links">
          <a href="#">Bahrain</a>
          <a href="#">Jordan</a>
          <a href="#">Kuwait</a>
          <a href="#">Oman</a>
          <a href="#">Qatar</a>
          <a href="#">Saudi Arabia</a>
          <a href="#">UAE</a>
        </div>
      </section>
      <section class="footer__col">
        <span class="footer__heading">Follow us</span>
        <div class="footer__socials">
          <a href="#"><img src="../../icons/social/landing-twitter.svg" alt="Twitter"></a>
          <a href="#"><img src="../../icons/social/landing-linkedin.svg" alt="LinkedIn"></a>
          <a href="#"><img src="../../icons/social/landing-facebook.svg" alt="Facebook"></a>
          <a href="#"><img src="../../icons/social/landing-youtube.svg" alt="YouTube"></a>
          <a href="#"><img src="../../icons/social/landing-instagram.svg" alt="Instagram"></a>
        </div>
        <div class="footer__stores">
          <a href="#"><img src="../../icons/brand/app-store-en.svg" alt="App Store"></a>
          <a href="#"><img src="../../icons/brand/google-play-en.svg" alt="Google Play"></a>
          <a href="#"><img src="../../icons/brand/app-gallery.svg" alt="App Gallery"></a>
        </div>
      </section>
    </div>
  </div>
  <div class="footer__legal">
    <div class="container">
      <strong>Free Classifieds in Egypt.</strong>© 2026 Dubizzle
    </div>
  </div>
</footer>
