<header class="header">
  <div class="header__band">
    <div class="container header__row1">
      <div class="header__brand-group">
        <a class="header__logo" href="#"><img src="../../icons/brand/logo-with-text.svg" alt="dubizzle"></a>
        <a class="header__vertical{{motorsActive}}" href="#"><img src="../../icons/category/vehicles.svg" alt=""> Motors</a>
        <a class="header__vertical{{propertyActive}}" href="#"><img src="../../icons/property/apartment.svg" alt=""> Property</a>
      </div>
      <div class="header__user-group">
        <a class="header__lang" href="#">العربية</a>
        <a class="header__link" href="#">Login or Signup</a>
        <button class="btn btn--primary header__cta">Post Your Ad</button>
      </div>
    </div>
  </div>
  <div class="container header__row2">
    <div class="header__location">
      <img src="../../icons/location/location-filled.svg" alt="">
      <span>Egypt</span>
      <img src="../../icons/navigation/chevron-down.svg" alt="">
    </div>
    <form class="header__search">
      <label class="visually-hidden" for="q">Search</label>
      <input id="q" type="search" placeholder="Find Cars, Mobile Phones and more...">
      <button class="header__search-btn" type="submit">
        <img src="../../icons/action/search.svg" alt=""> Search
      </button>
    </form>
  </div>
</header>
