<header class="header-mobile">
  <div class="header-mobile__top">
    <img class="logo" src="../../icons/brand/logo-with-text.svg" alt="dubizzle">
    <div class="header-mobile__actions">
      <a href="#"><img src="../../icons/action/notifications.svg" alt="Notifications"></a>
      <a href="#"><img src="../../icons/action/heart.svg" alt="Favourites"></a>
    </div>
  </div>
  <div class="header-mobile__search">
    <img src="../../icons/action/search.svg" alt="">
    <label class="visually-hidden" for="q">Search</label>
    <input id="q" type="search" placeholder="Find Cars, Mobile Phones and more...">
  </div>
</header>
